@font-face {
  font-family: 'flaticon';
  src:  url('../fonts/flaticon.eot?ekwb7n');
  src:  url('../fonts/flaticon.eot?ekwb7n#iefix') format('embedded-opentype'),
    url('../fonts/flaticon.ttf?ekwb7n') format('truetype'),
    url('../fonts/flaticon.woff?ekwb7n') format('woff'),
    url('../fonts/flaticon.svg?ekwb7n#flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'flaticon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-cloud:before {
  content: "\e905";
}
.icon-comment:before {
  content: "\e906";
}
.icon-database:before {
  content: "\e907";
}
.icon-data-center:before {
  content: "\e908";
}
.icon-desktop .path1:before {
  content: "\e909";

}
.icon-desktop .path2:before {
  content: "\e90a";
  margin-left: -1em;

}
.icon-desktop .path3:before {
  content: "\e90b";
  margin-left: -1em;

}
.icon-desktop .path4:before {
  content: "\e90c";
  margin-left: -1em;

}
.icon-desktop .path5:before {
  content: "\e90d";
  margin-left: -1em;

}
.icon-desktop .path6:before {
  content: "\e90e";
  margin-left: -1em;

}
.icon-desktop .path7:before {
  content: "\e90f";
  margin-left: -1em;

}
.icon-desktop .path8:before {
  content: "\e910";
  margin-left: -1em;

}
.icon-email:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-instagram:before {
  content: "\e913";
}
.icon-map-marker:before {
  content: "\e914";
}
.icon-mike:before {
  content: "\e915";
}
.icon-mobile:before {
  content: "\e916";
}
.icon-monitor:before {
  content: "\e917";
}
.icon-monitor-line-chart:before {
  content: "\e918";
}
.icon-phone:before {
  content: "\e919";
}
.icon-pinterest:before {
  content: "\e91a";
}
.icon-play:before {
  content: "\e91b";
}
.icon-quote:before {
  content: "\e91c";
}
.icon-reply:before {
  content: "\e91d";
}
.icon-software:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e920";
}
