/* Error: expected "{".
 *    ,
 * 20 | >>>>>>> fb58fb21e3003cfd053d0116b2d608b2b17af420
 *    |                                                 ^
 *    '
 *   sass\modules\_client-widget.scss 20:49  @import
 *   sass\rakib.scss 108:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 20 \2502  >>>>>>> fb58fb21e3003cfd053d0116b2d608b2b17af420\d\a    \2502                                                  ^\a    \2575 \a   sass\\modules\\_client-widget.scss 20:49  @import\a   sass\\rakib.scss 108:9                   root stylesheet';
}
