/* variable */
/* Hero slider CSS */
.hero-slider .single-slider {
  width: 100%;
  height: 100%;
}
.hero-slider .single-slider .single-slider-container {
  width: 100%;
  height: 800px;
  margin: 0;
}
.hero-slider .hero-left {
  background: #4566d4;
  padding: 176px 0;
}
.hero-slider .hero-left .slider-box {
  display: flex;
  justify-content: end;
}
.hero-slider .hero-left .slider-box .slider-text {
  padding-right: 68px;
}
.hero-slider .hero-left .slider-box .slider-text .slider-short-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-slider .hero-left .slider-box .slider-text .slider-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 8px;
}
.hero-slider .hero-left .slider-box .slider-text .slider-title span {
  color: #f7cf47;
}
.hero-slider .hero-left .slider-box .slider-text .slider-short-desc {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 20px;
}
.hero-slider .hero-left .slider-box .slider-text .learn-media-btn {
  margin-top: 54px;
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero-slider .hero-left .slider-box .slider-text .learn-media-btn .learn-btn {
  font-family: "DM Sans", sans-serif;
  padding: 15px 30px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}
.hero-slider .hero-left .slider-box .slider-text .learn-media-btn .video-btn a {
  width: 70px;
  height: 70px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  background-color: #f7cf47;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-slider .hero-left .slider-box .slider-text .learn-media-btn .video-btn a i {
  color: #020a27;
  font-size: 18px;
}
.hero-slider .hero-left .slider-box .slider-text .learn-media-btn .video-btn a:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
.hero-slider .hero-right {
  padding: 0;
  background-image: url("/images/home-hero.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  object-fit: cover;
}
.hero-slider .hero-right img {
  width: 100%;
}
.hero-slider .hero-right-second {
  padding: 0;
  background-image: url("/images/home-hero-2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  object-fit: cover;
}
.hero-slider .hero-right-second img {
  width: 100%;
}
.hero-slider .hero-right-third {
  padding: 0;
  background-image: url("/images/home-hero-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  object-fit: cover;
}
.hero-slider .hero-right-third img {
  width: 100%;
}
.hero-slider button.post-gallery-btn {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: 0.3s;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
.hero-slider button.post-gallery-btn.prev-btn {
  left: 30px;
}
.hero-slider button.post-gallery-btn.next-btn {
  right: 30px;
}
.hero-slider button.post-gallery-btn i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 17px;
  transition: all 0.5s ease-out;
}
.hero-slider button.post-gallery-btn:hover {
  transition: all 0.5s ease-out;
}
.hero-slider button.post-gallery-btn:hover i {
  color: #ffffff;
  transition: all 0.5s ease-out;
}

/* Why choose us CSS(modern tecnology) */
.why-choose-us {
  background: #f3f4f8;
  padding: 100px 0;
}
.why-choose-us .explore-offer {
  text-align: center;
  width: 856px;
  margin: 0 auto;
  padding: 0 32px;
}
.why-choose-us .explore-offer span {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4566d5;
}
.why-choose-us .explore-offer h1 {
  margin-top: 8px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 54px;
  text-align: center;
  text-transform: capitalize;
  color: #04144e;
}
.why-choose-us .explore-offer p {
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  text-transform: capitalize;
  color: #6a6c73;
}
.why-choose-us .card-section {
  margin-top: 50px;
  display: flex;
  gap: 24px;
}
.why-choose-us .card-section .single-card {
  background: #ffffff;
  height: 275px;
  width: 306px;
  border-radius: 14px;
  padding: 30px 22px;
}
.why-choose-us .card-section .single-card .icon {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #ecf0fb;
}
.why-choose-us .card-section .single-card .card-text {
  margin-top: 25px;
}
.why-choose-us .card-section .single-card .card-text h3 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
  color: #04144e;
}
.why-choose-us .card-section .single-card .card-text p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6a6c73;
}

/* Why choose us CSS(modern tecnology) */
.about-us {
  background: #ffffff;
  padding: 100px 0;
}
.about-us .image-wrapper {
  position: relative;
  height: 433px;
  width: 480px;
}
.about-us .image-wrapper .main-img {
  height: 433px;
  width: 480px;
  background-image: url("../../images/about-us-1.png");
  object-fit: cover;
}
.about-us .image-wrapper .topper-img {
  position: absolute;
  bottom: -60px;
  right: -70px;
  z-index: 1;
}
.about-us .image-wrapper .about-video-btn {
  position: absolute;
  bottom: 175px;
  left: 151px;
  padding: 25px 30px;
  background: #4566d4;
  z-index: 2;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.about-us .image-wrapper .about-video-btn i {
  font-size: 20px;
  color: #ffffff;
}
.about-us .text-box .title-desc {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #4566d4;
}
.about-us .text-box h1 {
  margin-top: 8px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 54px;
  text-transform: capitalize;
  color: #04144e;
}
.about-us .text-box p {
  margin-top: 20px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
  color: #6a6c73;
}
.about-us .text-box .achievement {
  margin-top: 30px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us .text-box .achievement .bottom-achieve {
  margin-top: 20px;
}
.about-us .text-box .achievement .achieve-double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us .text-box .achievement .achieve-double .achieve-single {
  display: flex;
  gap: 10px;
  align-items: center;
}
.about-us .text-box .achievement .achieve-double .achieve-single .check-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: rgba(69, 102, 212, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .text-box .achievement .achieve-double .achieve-single .achieve-single-text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #04144e;
}
.about-us .text-box .about-btn {
  padding: 15px 30px;
  background: #4566d4;
  border-radius: 50px;
  margin-top: 50px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

/*# sourceMappingURL=rakib.css.map */
