/* WordPress Core
===================*/
body {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  overflow-x: hidden;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 25px;
}
ul {
  list-style: disc;
}
.blog-details-sec {
  .post-text {
    ul {
      padding-left: 20px;
    }
  }
}
.page-sec .comment-field {
  margin-bottom: 0;
  clear: both;
  padding-top: 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}


/*
 Caption
============================*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  font-size: 14px;
  font-style: italic;
}

.wp-caption-text {
  text-align: center;
}

/*
 Galleries
============================*/
.gallery {
  margin-bottom: 10px;
}

.gallery-item {
  display: inline-block;
  max-width: 33.33%;
  text-align: center;
  vertical-align: top;
  width: 100%;
  padding-right: 5px !important;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}

img {
  &.emoji {
    width: 15px;
    height: 15px;
  }
}
/*
 Alignments
============================*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em !important;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em !important;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}
/*
 Block Unit Test Widget
============================*/
.wp-block-quote, blockquote {
  border-left: solid 5px $primary-color;
}
.wp-block-column:not(:first-child), .wp-block-column:nth-child(2n) {
  margin-left: 10px;
}
.wp-block-column:not(:last-child) {
  margin-right: 10px;
}
.wp-block-column:nth-child(2n+1) {
  margin-right: 10px;
}
.post-content > .alignwide {
  margin-left: 0;
  margin-right: 0;
  width: calc(100% + 20px);
  max-width: calc(100% + 20px);
}
.post-content p.has-large-font-size {
  font-size: 36px;
  line-height: 1.2;
}

.has-very-light-gray-color.has-very-light-gray-color {
  color: #fff;
  background: $primary-color !important;
}
.wp-block-button {
  margin-bottom: 10px;
}
.wp-block-archives select {
  height: 50px;
  width: 200px;
  border: 1px solid #ddd;
  padding: 0 10px;
}
.wp-block-latest-comments {
  padding-left: 0 !important;
}
.wp-block-latest-posts.has-dates {
  padding-left: 14px;
}
.wp-block-archives li a, .wp-block-categories li a {
  color: #5e629c;
}
.wp-block-cover p.wp-block-cover-text {
  color: #fff;
}
.wp-block-cover-text a {
  color: #fff;
}
/*
 Media
============================*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}
