$primary-color: #4770F7;
$secondary-color: #F7CF47;
$text-color: #777777;
$white: #FFFFFF;
$black: #04144E;
$black-100: #D7D7D7;
$black-200: #F3F4F8;

$body-font: 'Raleway', sans-serif;
$heading-font: 'Playfair Display', serif;
//$third-font: 'Amatic SC', cursive;
