$primary-color: #4770F7;
$secondary-color: #04144E;
$orange-color: #F7CF47;
$text-color: #777777;
$white: #FFFFFF;
$white-100: #F5F5F5;
$black: #020A27;
$gray: #D7D7D7;
$gray-100: #F3F4F8;
$gray-200: #F5F5F5;
$gray-300: #E1E6EB;


$body-font: 'Raleway', sans-serif;
$heading-font: 'Playfair Display', serif;
//$third-font: 'Amatic SC', cursive;
