$primary-color: #D54400;
$secondary-color: #F7CF47;
$text-color: #777777;
$white: #FFFFFF;
$black: #003B4A;
$black-100: #D7D7D7;
$black-200: #F3F4F8;

$body-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;
$third-font: 'Amatic SC', cursive;
