/* variable */
$text-primary: #4566d4;
$text-gray-light: #6a6c73;

.mt-12 {
  margin-top: 12px;
}
.background-light-blue {
  background: #ecf0fb;
}

@import "variables";

/* Hero slider CSS */
@import "modules/title-section";
/* Hero slider CSS */
@import "modules/slider-style-one";

/* Why choose us CSS(modern tecnology) */
@import "modules/why-choose-us";

/* About-us CSS */
@import "modules/about-us";

/* Service CSS */
@import "modules/service";

/* Process CSS */
@import "modules/process";

/* Pricing CSS */
@import "modules/pricing";

/* Gallery CSS */
@import "modules/portfolio";
