.post-comments {
  border-bottom: 1px solid #eaedff;
  margin-bottom: 42px;
  padding-bottom: 40px;
}

.blog-coment-title h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.latest-comments {
  li {
    &:first-child .comments-box {
      border-top: 0;
      padding-top: 0;
    }
    &:last-child .comments-box {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &.children {
      margin-left: 100px;
    }
    .comments-box {
      padding: 30px 0;
      padding-bottom: 0;

      .comments-avatar {
        float: left;

        img {
          width: 100px;
          margin-right: 20px;
          border-radius: 50%;
        }
      }
      .comments-text {
        overflow: hidden;
        padding-top: 4px;

        p {
          margin-bottom: 0;
          margin-top: 8px;
        }
        .avatar-name {
          margin-bottom: 3px;
          overflow: hidden;
          position: relative;

          h5 {
            font-size: 17px;
            margin-bottom: 7px;
          }
          span {
            color: #ff5b5b;
            font-size: 11px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
          }
          //.reply {
          //  color: #6f7172;
          //  display: inline-block;
          //  font-size: 14px;
          //  font-weight: 400;
          //  transition: .3s;
          //  line-height: 1;
          //  margin-top: 4px;
          //  position: absolute;
          //  right: 0;
          //  top: 0;
          //
          //  &:hover {
          //    color: $primary-color;
          //    @include transition;
          //  }
          //
          //  i {
          //    margin-right: 5px;
          //  }
          //}

          .comment-reply-link {
            color: #6f7172;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            transition: .3s;
            line-height: 1;
            margin-top: 4px;
            position: absolute;
            right: 0;
            top: 0;

            i {
              margin-right: 5px;
            }

            &:hover {
              color: $primary-color;
              @include transition;
            }
          }
        }
      }
    }

  }
}

.post-comments-title {
  margin-bottom: 39px;
}

.post-comments-title h2 {
  font-size: 26px;
  color: #140a20;
  margin-bottom: 0;
}
.post-comments .latest-comments > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.comments-text > ul,.comments-text > ol {
  margin-bottom: 20px;
}
ul.children {
  list-style: none;
}


// Comment
/*
.commenter-list-sec {
  .comment-title {
    font-size: 26px;
    font-weight: 700;
    color: #140a20;
  }
  .single-commenter {
    display: flex;
    gap: 20px;
    padding: 40px 30px;
    margin-top: 20px;

    .commenter-img {
      width: 100px;
      flex-shrink: 0;
    }
    .commenter-info {
      h4 {
        margin-bottom: 5px;
        font-size: 18px;
        color: $primary-color;
      }

      p {
        margin-bottom: 0;
      }
    }
    .commenter-time {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }

    .replay-button {
      a {
        color: $primary-color;
        font-size: 16px;
        font-weight: 600;

        i {
          color: $primary-color;
          margin-right: 10px;
        }
      }
      float: right;
    }
  }
}








*/
