.about-us {
  background: $white;
  padding: 100px 0 248px 0;
  .image-wrapper {
    position: relative;
    height: 433px;
    width: 480px;
    .main-img {
      height: 433px;
      width: 480px;
      background-image: url("../images/about-us-1.png");
      object-fit: cover;
    }
    .topper-img {
      position: absolute;
      bottom: -60px;
      right: -70px;
      z-index: 1;
      .video-btn {
        position: absolute;
        width: 70px;
        height: 70px;
        top: -25px;
        left: -25px;
        background: $text-primary;
        z-index: 2;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        i {
          font-size: 20px;
          color: $white;
        }
      }
    }
  }
  .section-title {
    .list {
      margin-top: 10px;
      .item {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-top: 20px;
        .icon {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background: rgba(69, 102, 212, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .item-text {
          font-family: $body-font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: $secondary-color;
        }
      }
    }
  }
}
