.post-card-item {
  background: $white;
  border-radius: 14px;
  .image {
    position: relative;
    .article-btn {
      z-index: 2;
      position: absolute;
      bottom: 20px;
      left: 20px;
      background: $orange-color;
      border-radius: 4px;
      font-weight: 600;
      font-size: 12px;
      line-height: 21px;
      text-transform: uppercase;
      color: $secondary-color;
      &.style-two {
        top: 20px;
        left: 20px;
        bottom: auto;
      }
    }
  }
  .content-wrapper {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    .post-author-meta {
      display: flex;
      align-items: center;
      gap: 12px;
      h5 {
        font-family: $heading-font;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: $secondary-color;
      }
      p {
        font-size: 14px;
        line-height: 25px;
        text-transform: capitalize;
        color: $text-primary;
      }
      // author meta
      &.style-two {
        margin-bottom: 25px;
      }
    }
    &.style-two {
      margin: -50px 20px 20px 20px;
      background: white;
      position: relative;
      z-index: 1;
      border-radius: 14px;
    }
  }
  &.style-two {
    background: transparent;
    border-radius: 14px 14px 0px 0px;
  }
}
