.client-slider-wrapper {
<<<<<<< HEAD
  .client-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
=======
  //.slick-slide {
  //  margin: 0 70px;
  //}
  /* the parent */
  //.slick-list {
  //  margin: 0 -70px;
  //  .slick-track {
  //    display: flex;
  //    align-items: center;
  //  }
  //}
>>>>>>> fb58fb21e3003cfd053d0116b2d608b2b17af420
}
