.info-card {
  padding: 30px;
  display: flex;
  gap: 25px;
  border-radius: 14px;
  background: $white;
  margin-top: 24px;
  z-index: 1;
  position: relative;

  .icon {
    width: 70px;
    height: 70px;
    background: rgba(69, 102, 212, 0.1);
    border-radius: 100%;
    padding: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 34px;
    }
  }
  .title {
    font-family: $heading-font;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    text-transform: capitalize;
    color: $secondary-color;
  }
  .text {
    margin-top: 10px;
    margin-bottom: 0;
    font-family: $body-font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $text-gray-light;
  }
}
