.basic-pagination,
.page-links{

  ul {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
    list-style: none;

    @media only screen and (max-width: 767px) {
      margin-top: 50px;
    }
    .prev,
    .next
    {
      span {
        display: none;
      }
    }
  }
  .page-numbers,
  .post-page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: $primary-color;
    background-color: $white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    @include transition;
    font-size: 18px;
    font-weight: 600;

    &:hover {
      background: $primary-color;
      color: $white;
      @include transition;
    }

    &.current {
      background: $primary-color;
      color: $white;
      @include transition;
    }

  }
}