.portfolio-style-one {
  background: $white;
  border-radius: 14px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
  .image {
    margin: 0;
    img {
      width: 100%;
    }
  }
  .content-wrapper {
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-img {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        font-size: 13px;
        line-height: 23px;
        text-align: right;
        text-transform: uppercase;
        color: $text-primary;
      }
    }
    .desc {
      margin-top: 10px;
      margin-bottom: 0;
    }
    .read-more {
      margin-top: 20px;
      display: flex;
      :hover {
        margin-left: 10px;
        transition-property: all;
        transition-duration: 0.7s;
      }
    }
  }
}
.custom-container {
  overflow: hidden;
}
.portfolio-showcase {
  margin-top: 50px;
  width: calc(100% + 30px);
  padding: 20px 15px;
  margin-left: -15px;
  position: relative;
  .post-gallery-btn {
    bottom: 5%;
    top: 95%;
    background: $white !important;
    border: 1px solid #d3d3d3 !important;
    i {
      color: $secondary-color;
    }
  }
  .slick-slide .drop-shadow {
    box-shadow: none;
    transition: box-shadow 0.1s ease-in-out;
  }
  .slick-slide.slick-active .drop-shadow {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.35);
  }
  .slick-list {
    display: flex;
    overflow: visible;
    // padding: 0 36px;
    .slick-track {
      display: flex;
      gap: 30px;
    }
  }
  .slick-dots {
    display: flex !important;
    align-items: center;
    margin: 78px 70px 10px 90px;
    width: 80% !important;
    list-style: none;
    background: #d2d6e4;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    li {
      width: 35%;
      button {
        display: none;
      }
    }
    ::marker {
      display: none !important;
    }
    .slick-active {
      background: $text-primary;
      width: 35%;
      height: 5px;
    }
  }
}
