.blog-post {
  padding-right: 38px;
}
.single-post {
  background-color: $white;
  border-radius: 14px;
  overflow: hidden;

  .post-content-wrapper {
    padding: 30px;
  }
  /* Sticky Post */
  &.sticky {
    border: 2px solid $primary-color;

    .post-content {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }

  .post-title {
    font-size: 44px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 10px;

    &:hover {
      a {
        color: $primary-color;
        @include transition;
      }
    }
  }
  .post-content {
    a {
      color: $primary-color;
    }
  }

  .single-post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray;
    padding-top: 15px;

  }
  // Social Share
  .social-share {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  // Post Tags
  .blog-post-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

      span {
        font-size: 18px;
        font-weight: 600;
        display: block;
        font-family: $heading-font;
        color: $black;
        display: block;
        margin-bottom: 17px;
      }
    a {
      background: $gray-100;
      color: $text-color;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      padding: 13px 16px;
      border-radius: 8px;
      @include transition;

      &:hover {
        color: $white;
        background: $primary-color;
        @include transition;
      }
    }
  }
  // Post Image
  .post-thumbnail {
    position: relative;

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #FFFFFF;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      }

    }

  }
  // Post Gallery Slick Button
  button.post-gallery-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform:translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 17px;
      @include transition;
    }
    &:hover{
      @include transition;
      background-color: $primary-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }

  // Post Audio
  .post-audio {
    iframe {
      width: 100%;
    }
  }
    // Post Meta
  .post-meta {
      display: flex;
      align-items: center;
      gap: 32px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: $text-color;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: $primary-color;
          font-size: 19px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $text-color;
          @include transition;

          &:hover {
            color: $primary-color;
            @include transition;
          }
        }
      }
  }

  // Blockquote
  blockquote {
    overflow:hidden;
    padding: 30px 30px 30px 30px !important;
    margin: 40px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(71, 112, 247, 0.1);

    &:before {
      content: "\e91c";
      top: 0;
      left: 0;
      font-family: "flaticon";
      color: $white;
      font-size: 50px;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary-color;
      height: 100%;
      width: 5px;
    }
    p {
      font-family: $heading-font;
      font-size: 24px;
      color: $primary-color;
      line-height: 34px;
      font-weight: 600;
      margin-top: 10px;
      a {
        color: $primary-color;
      }
    }
    footer {
      font-family: $body-font;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      color: #75777D;
      margin-top: 20px;
    }
  }
}

// Author
.author {
  background-color: $white;
  padding: 30px;
  display: flex;
  gap: 30px;
  border-radius: 14px;

  .author-img {
    flex-shrink: 0;

    img {
      border-radius: 10px;
    }
  }
  .author-text {
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 28px;
    }
     p {
      margin-bottom: 0;
    }
  }
  .author-icon {
    margin-top: 20px;
    display: flex;
    gap: 10px;

     a {
      font-size: 18px;
      color: $white;
       @include transition;
       width: 44px;
       height: 44px;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: $primary-color;
      border-radius: 10px;
       &:hover {
         @include transition;
         background-color: $white;
         color: $primary-color;
       }
    }
  }
}


// Next Prev Post
.blog-details-border {
  margin-top: 40px;
  background: #fff;
  padding: 40px 0;
  padding-bottom: 22px;
  border-top: 1px solid #eaedff;
  border-bottom: 1px solid #eaedff;
}
.bakix-navigation span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #ff5b5b;
}
.bakix-navigation span a:hover {
  color: #FE4536;
}
.bakix-navigation h4 {
  font-size: 21px;
  margin: 0;
  text-transform: capitalize;
}

.bakix-navigation h4 a:hover {
  color: #FE4536;
}