.blog-details-wrapper {
  .single-post-item {
    .post-content {
      p {
        margin-bottom: 15px;

        img {
          margin: 15px 0;
          border-radius: 14px;
        }
      }
    }
  }
}
.single-post-item {
  background-color: $white;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 50px;

  .post-content-wrapper {
    padding: 30px;

    a.primary-btn {
      margin-top: 30px;
    }
  }
  /* Quote Format Post */
  &.format-quote {
    blockquote {
      margin: 0;

      cite {
        a {
          font-family: $body-font;
          font-size: 16px;
          font-weight: 600;
          text-transform: capitalize;
          color: $text-color;
          margin-top: 20px;
          font-style: normal;
          @include transition;

          &:hover {
            @include transition;
            color: $primary-color;
          }
        }
      }
    }
  }
  /* Sticky Post */
  &.sticky {
    border: 2px solid $primary-color;

    .post-content {
      margin-bottom: 0;
      p {
        margin-bottom: 0;
      }
    }
  }

  .post-title {
    font-size: 40px;
    line-height: 54px;
    font-weight: 600;
    margin-bottom: 10px;

    &:hover {
      a {
        color: $primary-color;
        @include transition;
      }
    }
  }
  .post-content {
    ul {
      padding-left: 20px;
    }
    p {
      margin-bottom: unset;
    }

    a {
      color: $primary-color;
    }
  }

  .single-post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $gray;
    padding-top: 15px;
    margin-top: 30px;

  }
  // Social Share
  .social-share {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  // Post Tags
  .blog-post-tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

      span {
        font-size: 18px;
        font-weight: 600;
        display: block;
        font-family: $heading-font;
        color: $black;
        display: block;
        margin-bottom: 17px;
      }
    a {
      background: $gray-100;
      color: $text-color;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 1;
      padding: 13px 16px;
      border-radius: 8px;
      @include transition;

      &:hover {
        color: $white;
        background: $primary-color;
        @include transition;
      }
    }
  }
  // Post Image
  .post-thumbnail {
    position: relative;

    .popup-video-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .video-btn {
      a {
        width: 70px;
        height: 70px;
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        background-color: #FFFFFF;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          color: $primary-color;
          font-size: 18px;
        }
        &:hover {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      }

    }

  }
  // Post Gallery Slick Button
  button.post-gallery-btn {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.3s;
    z-index: 99;
    background-color: #ffffff;
    cursor: pointer;
    top: 50%;
    transform:translateY(-50%);
    overflow: hidden;

    &.prev-btn {
      left: 30px;
    }
    &.next-btn {
      right: 30px;
    }
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $secondary-color;
      font-size: 17px;
      @include transition;
    }
    &:hover{
      @include transition;
      background-color: $primary-color;

      i{
        color: $white;
        @include transition;
      }
    }
  }

  // Post Audio
  .post-audio {
    iframe {
      width: 100%;
    }
  }
    // Post Meta
  .post-meta {
      display: flex;
      align-items: center;
      gap: 32px;
      margin-bottom: 10px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: $text-color;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 10px;

        i {
          color: $primary-color;
          font-size: 19px;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          color: $text-color;
          @include transition;

          &:hover {
            color: $primary-color;
            @include transition;
          }
        }
      }
  }

  // Blockquote
  blockquote {
    overflow:hidden;
    padding: 30px 30px 30px 30px !important;
    margin: 40px 0;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(71, 112, 247, 0.1);

    &:before {
      background-image: url("data:image/svg+xml,%3Csvg width='50' height='42' viewBox='0 0 50 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.04614 17.0477C3.70173 7.55049 10.253 0.65625 16.621 0.65625C17.1325 0.65625 17.6435 0.700771 18.1413 0.788802C18.4236 0.838382 18.6705 1.00433 18.8233 1.24515C18.9756 1.48748 19.0186 1.78193 18.9412 2.05715L17.6303 6.74606C17.5039 7.19887 17.0672 7.50495 16.6134 7.48421L16.5092 7.48218C14.1476 7.48218 9.83151 11.0216 7.63125 18.8883C7.54423 19.2004 7.46177 19.5197 7.38234 19.8525C9.85226 18.6302 12.7988 18.3474 15.467 19.0906C21.4865 20.7748 25.0128 27.0412 23.3301 33.0597C21.9661 37.9363 17.4801 41.3432 12.4208 41.3432C11.3903 41.3432 10.3612 41.201 9.36202 40.9213C5.39254 39.8118 2.40809 36.5162 0.958109 31.6436C-0.350718 27.2477 -0.317835 21.9279 1.04614 17.0477Z' fill='white'/%3E%3Cpath d='M42.8727 0.65625C43.3832 0.65625 43.8947 0.699759 44.392 0.78779C44.6738 0.836359 44.9212 1.00331 45.0735 1.24413C45.2257 1.48647 45.2687 1.78092 45.1918 2.05614L43.8805 6.74505C43.754 7.19785 43.3255 7.50393 42.8636 7.48319L42.7604 7.48117C40.3987 7.48117 36.0822 11.0206 33.8819 18.8872C33.7944 19.2014 33.7119 19.5206 33.633 19.8515C36.1039 18.6292 39.0494 18.3464 41.7177 19.0896C47.7361 20.7738 51.2634 27.0402 49.5797 33.0587C48.2158 37.9353 43.7297 41.3422 38.6705 41.3422C37.6399 41.3422 36.6109 41.2 35.6112 40.9202C31.6422 39.8107 28.6577 36.5151 27.2073 31.6426C25.8989 27.2466 25.9313 21.9263 27.2958 17.0457C29.9529 7.54947 36.5031 0.65625 42.8727 0.65625Z' fill='white'/%3E%3C/svg%3E");
      content: "";
      top: 0;
      left: 0;
      color: $white;
      font-size: 50px;
      width: 50px;
      height: 40px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary-color;
      height: 100%;
      width: 5px;
    }
    p {
      font-family: $heading-font;
      font-size: 24px;
      color: $primary-color;
      line-height: 34px;
      font-weight: 600;
      margin-top: 10px;
      a {
        color: $primary-color;
      }
    }
    footer {
      font-family: $body-font;
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;
      color: #75777D;
      margin-top: 20px;
    }
  }
}

// Author
.author {
  background-color: $white;
  padding: 30px;
  display: flex;
  gap: 30px;
  border-radius: 14px;

  .author-img {
    flex-shrink: 0;

    img {
      border-radius: 10px;
    }
  }
  .author-text {
    h3 {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 10px;
      line-height: 28px;
    }
     p {
      margin-bottom: 0;
    }
  }
  .author-icon {
    margin-top: 20px;
    display: flex;
    gap: 10px;

     a {
      font-size: 18px;
      color: $white;
       @include transition;
       width: 44px;
       height: 44px;
       display: flex;
       align-items: center;
       justify-content: center;
       background-color: $primary-color;
      border-radius: 10px;
       &:hover {
         @include transition;
         background-color: $white;
         color: $primary-color;
       }
    }
  }
}


// Next Prev Post
.blog-details-border {
  margin-top: 40px;
  background: #fff;
  padding: 40px 0;
  padding-bottom: 22px;
  border-top: 1px solid #eaedff;
  border-bottom: 1px solid #eaedff;
}
.bakix-navigation span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  color: #ff5b5b;
}
.bakix-navigation span a:hover {
  color: #FE4536;
}
.bakix-navigation h4 {
  font-size: 21px;
  margin: 0;
  text-transform: capitalize;
}

.bakix-navigation h4 a:hover {
  color: #FE4536;
}