.process-sec {
  background: $white;
  padding: 100px 0;
  .text-box {
    width: 856px;
    margin: 0 auto;
    padding: 0 145px;
    p {
      font-family: $body-font;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      text-align: center;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: $text-primary;
      margin: 0;
    }
    h1 {
      font-family: $heading-font;
      font-style: normal;
      font-weight: 800;
      font-size: 45px;
      line-height: 54px;
      text-align: center;
      text-transform: capitalize;
      color: $secondary-color;
      margin-top: 8px;
    }
  }
  .process-wave-wrappen {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    .process-wave {
      width: 1020px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      .single-process {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 2px dashed #f7cf47;
        background: $white;
      }
    }
  }
}
