.service {
  padding: 100px 0;
  background: $gray-100;
  position: relative;
  .counterd {
    position: absolute;
    top: -148px;
    height: 300px;
    width: 1272px;
    padding: 30px 0;
    background: $white;
    border-radius: 14px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    display: flex;

    .single-count {
      width: 348px;
      border-right: 1px solid $gray;
      padding: 50px 0;
      .single-count-title {
        font-family: $body-font;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 84px;
        text-align: center;
        color: $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .single-count-desc {
        margin-top: 8px;
        font-family: $body-font;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $secondary-color;
      }
    }
    .single-count:last-child {
      border-right: none;
    }
  }
  .service-bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }
  .section-title {
    margin-top: 148px;
  }
  .card-wrapper {
    margin-top: 25px;
  }
}
