.why-choose-us {
  background: #f3f4f8;
  padding: 100px 0;
  .section-title {
    text-align: center;
    padding: 0 32px;
  }
  .card-section {
    margin-top: 50px;
    display: flex;
    gap: 24px;
  }
}
