.why-choose-us {
  background: #f3f4f8;
  padding: 100px 0;
  .section-title {
    text-align: center;
    padding: 0 32px;
  }
  .card-section {
    margin-top: 50px;
    display: flex;
    gap: 24px;
    .single-card {
      background: $white;
      height: 275px;
      width: 306px;
      border-radius: 14px;
      padding: 30px 22px;
      .icon {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: #ecf0fb;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 35px;
        }
      }
      .card-text {
        margin-top: 25px;
        h3 {
          font-family: $heading-font;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
          text-transform: capitalize;
          color: $secondary-color;
        }
        p {
          font-family: $body-font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          color: $text-gray-light;
        }
      }
    }
  }
}
