.footer-widget-title {
  font-family: $heading-font;
  font-size: 20px;
  color: $white;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 30px;
  position: relative;

  &:before,
  &:after {
    position: absolute;
    height: 3px;
    background: $primary-color;
    content: "";
    bottom: 0;
  }

  &:before {
    width: 15px;
    left: 0;
  }
  &:after {
    width: 40px;
    left: 25px;
  }

}
.footer-widget {
  margin: 60px 0;

  // Footer Info Widget
  .footer-widget-info {
    p {
      color: $gray-white;
      padding-right: 68px;
      margin-bottom: 30px;
    }
    .footer-logo {
      margin-bottom: 34px;
      display: inline-block;
    }
  }

  // Footer Menu Widget
  .footer-widget-menu {
    ul {
      margin-top: -5px;
    }

    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;

      &:last-child {
        padding-top: 0px;
      }

      a {
        color: $gray-white;
        text-transform: capitalize;
        font-size: 15px;
      }
    }
  }

  // Footer Contact Widget
  .footer-widget-contact {
    p {
      color: $gray-white;
    }
    .footer-contact ul li {
      margin-bottom: 20px;

      .contact-icon {
        color: $primary-color;
        float: left;
        margin-right: 11px;
      }
      .contact-text {
        color: $gray-white;
        font-size: 15px;

        h4 {
          color: $gray-white;
          font-size: 15px;
        }
      }
    }
  }

}


// Footer Bottom Section
.footer-bottom-sec {
  padding: 20px 0;
  border-top: 1px solid $light-black;

  .copyright-text {
      p {
        color: $gray-white;
        margin-bottom: 0;
      }
  }
  .credit-text {
    p {
      color: $gray-white;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
    a {
      color: $primary-color;
    }
  }

}

// Footer Subscribe Section
.subscribe-sec {
  border-bottom: 1px solid #1b2f3e;
}
// Subscribe Form
.subscribe-form-widget {
  display: flex;
  gap: 5px;

  .single-field {
      flex-grow: 1;

      input {
          background-color: $light-black;
          color: #cbcbcb;
          height: 60px;
          padding: 0 30px;
          font-size: 15px;
          border-radius: 5px;
          width: 100%;
      }
  }
  .submit-btn {
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
    padding: 0 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 9px;
    text-transform: capitalize;
  }
}

// Social Widget
.social-widget {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;

  a {
    background-color: $light-black;
    color: #cbcbcb;
    height: 60px;
    width: 60px;
    font-size: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      transition: 0.3s;
      background-color: $primary-color;
      color: $white-color;
    }
  }
}